package ${packageName};

import dataforms.field.base.FieldList;
import dataforms.dao.Query;
${importList}
${importTables}

/**
 * 問い合わせクラスです。
 *
 */
public class ${queryClassName} extends Query {
${properties}
	/**
	 * コンストラクタ.
	 */
	public ${queryClassName}() ${constructor}

${entity}
}