package ${packageName};

import dataforms.controller.QueryForm;
${queryFormImportList}


/**
 * 問い合わせフォームクラス。
 */
public class ${queryFormClassName} extends QueryForm {
	/**
	 * コンストラクタ。
	 */
	public ${queryFormClassName}() {
${queryFormFieldList}
	}
}
