@charset "UTF-8";
/*
 * アコーディオンメニュー用スタイル(開始).
 */
li{
	list-style: none;
	text-align: left;
}

ul.accordion{
	width:210px;
	overflow: hidden;
	padding:2px 2px 2px 2px;
}

ul.accordion ul{
	display: none;
	text-align: left;
	padding:2px 2px 2px 2px;
}


ul.accordion li p{
	background: #c0c0e0;
	padding:2px 2px 2px 2px;
	margin:1px 1px 1px 1px;
	border-bottom: 1px solid #0f0f0f;
	cursor: pointer;/*カーソルを通常の物に*/
}

ul.accordion ul li{
	background: #f0f0f0;
	padding:1px 1px 1px 10px;
	border-bottom: 1px dashed #fff;
}

ul.accordion ul li:last-child{
	border:none;
}
/*
 * アコーディオンメニュー用スタイル(終了).
 */

.menuDiv {
	z-index: 100;
}


 /* PC  (以下の記述は*.cssxでアクセスしCssFilerを通したときのみ有効) */
@media screen and (min-width: var(--pc-screen-min)) {
	.bodyTable .leftbarTd {
		width: 220px;
		max-width: 220px;
	}

	/* 左サイドバー(常に表示されているメニュー) */
	.menuDiv,
	.leftbarDiv {
		display:block;
		width: 220px;
		max-width: 220px;
		clear: both;
		padding: 6px;
		margin: 0px;
		border:0px;
	}
}

/* タブレット  (以下の記述は*.cssxでアクセスしCssFilerを通したときのみ有効) */
@media screen and (min-width: var(--tb-screen-min)) and (max-width: var(--tb-screen-max)) {
	.bodyTable .leftbarTd {
		width: 0px;
	}
	/* 左サイドバー(タブレットの場合はプルダウンメニュー) */
	.menuDiv,
	.leftbarDiv {
		display:none;
		position:absolute;
		top:64px;
		left:10px;
		width: 220px;
		background-color: rgba(192,192,192,1.0);
	}
}

/* スマートフォン  (以下の記述は*.cssxでアクセスしCssFilerを通したときのみ有効) */
@media screen and (max-width: var(--sp-screen-max)) {
	.bodyTable .leftbarTd {
		width: 0px;
	}
	/* 左サイドバー(携帯の場合はプルダウンメニュー) */
	.menuDiv,
	.leftbarDiv {
		display: none;
		position: absolute;
		top: 68px;
		left: 10px;
		width: 220px;
		background-color: rgba(192,192,192,1.0);
	}
}


