@charset "UTF-8";

/**
 * 変数宣言用css。
 *
 * このファイルは変数宣言専用のcssです。
 * 拡張子Frame.cssxのように拡張子cssxでアクセスすると、CssFilterが動作し
 * Frame.cssファイル中の"var(--pc-screen-min)"を"1025px"に置き換えて送付します。
 * この機能は以下の様に標準的なcssでサポートされない以下の記述を有効にします。
 *
 * @media screen and (min-width: var(--pc-screen-min))
 *
 */

:root {
	--pc-screen-min: 1025px;
	--tb-screen-max: 1024px;
	--tb-screen-min: 769px;
	--sp-screen-max: 768px;
}

