@charset "UTF-8";

/**
 * 変数宣言用css。
 *
 * このファイルは変数宣言専用のcssです。
 * 拡張子Frame.cssxのように拡張子cssxでアクセスすると、CssFilterが動作し
 * Frame.cssファイル中の"var(--pc-screen-min)"を"1025px"に置き換えて送付します。
 * この機能は以下の様に標準的なcssでサポートされない以下の記述を有効にします。
 *
 * @media screen and (min-width: var(--pc-screen-min))
 *
 */

:root {
	/* デバイス毎の画面サイズ */
	--pc-screen-min: 1025px;	/* これ以上をPCと判定 */
	--tb-screen-max: 1024px;	/* これ以下をタブレットと判定 */
	--tb-screen-min: 769px;		/* これ以上をタブレットと判定 */
	--sp-screen-max: 768px;		/* これ以下をスマートフォンと判定 */

	/* 各種サイズ */
	--body-width: calc(100% - 16px);	/* bodyの幅 */
	--body-min-width: 320px;			/* bodyの最小幅 */

	/* メニュー関連設定 */
	--menu-width: 220px;	/* メニューの幅 */

	/* フッター関連設定 */
	--footer-width: 100%;	/* フッターの幅 */
	--footer-height: 30px;	/* フッターの高さ */
	--footer-background-color: lavender; /* フッターの背景色 */
}

