@charset "UTF-8";

/**
 * 変数宣言用css。
 *
 * このファイルは変数宣言専用のcssです。
 * 拡張子Frame.cssxのように拡張子cssxでアクセスすると、CssFilterが動作し
 * Frame.cssファイル中の"var(--pc-screen-min)"を"1025px"に置き換えて送付します。
 * この機能は以下の様に標準的なcssでサポートされない以下の記述を有効にします。
 *
 * @media screen and (min-width: var(--pc-screen-min))
 *
 */

:root {
	/* デバイス毎の画面サイズ */
	--pc-screen-min: 1025px;	/* これ以上をPCと判定 */
	--tb-screen-max: 1024px;	/* これ以下をタブレットと判定 */
	--tb-screen-min: 769px;		/* これ以上をタブレットと判定 */
	--sp-screen-max: 768px;		/* これ以下をスマートフォンと判定 */

	/* 各種サイズ */
	--body-width: calc(100% - 16px);	/* bodyの幅 */
	--body-min-width: 320px;			/* bodyの最小幅 */

	/* メニュー関連設定 */
	--menu-width: 220px;	/* メニューの幅 */

	/* フッター関連設定 */
	--footer-width: 100%;	/* フッターの幅 */
	--footer-height: 30px;	/* フッターの高さ */

	/* 色の系統指定 */
	--base-color: 0,0%;		/* グレー系統 */
	--base-color: 207,51%;	/* 青系統 */
	--base-color: 140,38%;	/* 緑系統 */

	/* テキストー色 */
	--text-color: hsl(var(--base-color),10%);
	--border-color: hsl(var(--base-color),60%);

	/* ボタン関連 */
	--button-color: hsl(var(--base-color),10%);
	--button-background-color: hsl(var(--base-color),100.0%);
	--button-border-color: var(--border-color);
	--button-hover-color: hsl(var(--base-color),100.0%);
	--button-hover-background-color: hsl(var(--base-color),75.0%);

	/* テキストボックスまたはプルダウン関連 */
	--textbox-color: black;
	--textbox-background-color: hsl(var(--base-color),100.0%);
	--textbox-border-color: var(--border-color);

	/* テーブル関連色 */
	--th-color: hsl(var(--base-color),10%);				/* thの前景色 */
	--th-background-color: hsl(var(--base-color),75.0%);		/* thの背景色 */
	--even-tr-background-color: hsl(var(--base-color),100.0%);
	--odd-tr-background-color: hsl(var(--base-color),85.0%);

	/* フォーム関連設定 */
	--form-border-color: var(--border-color);

	/* アンカーの色 */
	--anchor-color: var(--text-color);
	--anchor-hover-color: var(--text-color);

	/* ヘッター1 */
	--header1-background-color: hsl(var(--base-color),75.0%);
	--header2-background-color: hsl(var(--base-color),90.0%);
	--footer-background-color: hsl(var(--base-color),75.0%);

	/* メニュー1階層目 */
	--menu-level1-background-color: hsl(var(--base-color),75.0%);
	/* メニュー2階層目 */
	--menu-level2-background-color: hsl(var(--base-color),95.0%);
}

